#header{
    background-image: url("images/header.gif");
    background-repeat: no-repeat;
    width: 800px;
    height: 146px;
}
#content{
    background-image: url("images/content_bg.gif");
    background-repeat: repeat-y;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#footer{
    background-image: url("images/footer.gif");
    background-repeat: no-repeat;
    width: 800px;
    height: 52px;
}
#contentL{
    width: 245px;
    background-color:aqua;
}
#contentR{
    width: 555px;
    background-color: aquamarine;
}